<div (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <div>
      <div nz-col nzSpan="12">
        <app-unit-item [unit]="unit" [withModal]="false"></app-unit-item>
      </div>
      <div nz-col nzSpan="12">
        <ng-container *ngIf="upgradeUnits && upgradeUnits.length > 0">
          <ng-container *ngFor="let unit of upgradeUnits">
            <div class="upgrade-unit-wrapper mb-4">
              <i nz-icon nzType="caret-right" nzTheme="outline"></i>
              <app-unit-item [unit]="unit" [withModal]="false"></app-unit-item>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
