<div class="mb-6" nz-row>
  <div>
    <input
      [(ngModel)]="searchKey"
      (ngModelChange)="handleSearch()"
      type="text"
      nz-input
      placeholder="Search by name"
    />
    <select [(ngModel)]="selectedBuilders" (ngModelChange)="handleSearch()">
      <option *ngFor="let builder of builders" [value]="builder">{{ builder }}</option>
    </select>
  </div>
</div>

<div>
  <ng-container *ngFor="let unit of units; let i = index">
    <div nz-col class="gutter-row" nzXs="24" nzSm="12" nzMd="12" nzLg="8" nzXl="6">
      <div class="inner-box">
        <app-unit-item [unit]="unit" [index]="i"></app-unit-item>
      </div>
    </div>
  </ng-container>
</div>
