:host {
  h3.clickable {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    height: 1.5rem;
  }

  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
